  <footer class="footer dark">
    <div class="wrapper">
      <a href="/"><img src="/img/icons/logo.svg" width="120" alt="Logo da Agendaí" /></a>
      <a href="/">Explore</a>
      <a href="/">Sobre</a>
      <a href="/">Contato</a>
    </div>
  </footer>
