<header class='header dark'>
  <div class='wrapper'>
    <a href='index.html'><img
        src='/img/icons/logo.svg'
        width='120'
        alt='Logo da Agendaí'
      /></a>

    <button id='hamburguer'>
      <span class='line'></span>
    </button>
    <div class='menu'>
      <div class='search-box'>
        <input
          class='search-txt'
          name=''
          type='text'
          placeholder='O que precisa hoje?'
        />
        <a class='search-btn' href='#'><i class="ri-search-line"></i></a>
      </div>

      <div class='buttons-account'>
        <li><button class='btn btn-blue'>Login</button></li>
        <li><a href="/usuario/cadastro"><button class='btn btn-transparent'>Register</button></a></li>
      </div>
    </div>
  </div>
</header>

<nav class='navbar'>
  <div class='wrapper'>
    <ul class='listNav'>
      <li><a href='pages/quem-somos/quem-somos.html'>Quem somos</a></li>
      <li><a href='pages/objetivo/objetivo.html'>Objetivo</a></li>
      <li><a href='pages/como_surgiu/como.html'>Como surgiu</a></li>
      <li><a href='#'>Valores</a></li>
      <li><a href='pages/planos/planos.html'>Planos</a></li>
    </ul>
  </div>
</nav>
