<head>
  <link rel="stylesheet" href="/css/loginPage/main.css">
</head>

<section id="login-page">
  <div class="wrapper">
    <div class="container">
      <section class="aside dark">
        <img src="../../assets/images/Login&Register/Login/login-image.svg" alt="Imagem criação de conta">
      </section>

      <section class="main ">
        <div class="login-container">
          <h3 class="title">Entre com sua conta</h3>
          <form action="/usuario/login" class="form-control">
            <div class="form-control">
              <label>E-mail</label>
              <input type="text" placeholder="Digite seu email">
            </div>
            <div class="form-control">
              <label>Senha</label>
              <input type="password" placeholder="Digite sua senha">
              <div class="reset-password"><a href="">Esqueci minha senha</a></div>
            </div>

            <div class="buttons">
              <button class="register-submit btn btn-login-transparent ">Registrar</button>
              <button class="login-submit btn btn-blue">Entrar</button>
            </div>
            <span>ou</span>

            <button class="google-login btn btn-login-transparent"><i class="bi bi-google" aria-label="google"
                style="color: #FBBC05"></i>Login com Google</button>

          </form>
        </div>
      </section>
    </div>
  </div>
</section>
